body{
	margin:0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #40514E;
}
h1{
	color:#079992;
	margin:50px auto 0 auto;
	font-family: 'Montez', cursive;
	font-size:5rem;
/*	line-height: 2;*/
	
}
hr{
	border: dotted #EAF6F6 6px;
	border-bottom:none;
	width:4%;
	margin:100px auto;
	
}
p{
		line-height: 2;
}
h2{
/*	font-family: 'Acme', sans-serif;*/
	font-size:2.5rem;
	color: #11999E;
	padding-bottom: 10px;
}
.sub{
	font-weight:normal;
}
h3,a{
	color:#66BFBF;
}
a{
/*
	color: whitesmoke;
	padding: 1rem;
	background-color:#079992;
*/
	color:#45b29a;
	font-family: 'Montserrat', sans-serif;
	margin:10px 20px;
	text-decoration: none;
	
	
}
.footer-link{
/*
	border-radius:1rem;
	margin-top: 2rem;
*/
}
a:hover{
color:#EA6F6;

	
}
.top-container{
	background:#e0ebe8;
	position:relative;
	padding-top:100px;
	

}
.middle-container{
	margin:100px 0;
	}

/*
.top-container .img-main{
	background:#e0ebe8;
}
*/
.dev{
	text-decoration: underline;
	font-weight:normal;
	font-size: 2rem;
}
.bottom-cloud{
	position: absolute;
	left:250px;
	bottom:200px;
}

.top-cloud{
	position:absolute;
	right:250px;
	top:200px;
	
}
.skill-row{
	width:50%;
	margin:100px auto 100px auto;
	text-align: left;

}

.skill-img{
	width:25%;
	float:left;
	margin-right:30px;
}
.node-img{
	width:25%;
	float:right;
	margin-left: 30px
}
.node-row{
	width: 50%;
	margin:100px auto;
	text-align: left;

}
.skill-desc{
/*	clear:right;*/
}

.intro{
	width:30%;
	margin: auto;
}



.bottom-container{
	
	background:#e0ebe8;
	text-align: center;
	height:10%;
	margin-top:50px;
	padding-top:50px 0 20px;
	color:#45b29a;
	
	
}

.contact-message{
	width:40%;
	margin: 40px auto 60px;
}
.copyright{
	color:#45b29a;
	font-size:0.75rem;
	padding:20px 0;
}


/*button*/

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999b);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999b);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999b);
  background-image: -o-linear-gradient(top, #11cdd4, #11999b);
  background-image: linear-gradient(to bottom, #11cdd4, #11999b);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
